/*  ++++++++++++++++=================== start styles for Header ++++++++++++++++===================*/

.header .tabs {
    /*float: left;*/
    /*border-left: 1px solid #06393b;*/
    /*border-right: 1px solid #0b6e74;*/
}

.header .tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.header .tabs ul > li {
    position: relative;
    /*border-left: 1px solid #0b6e74;*/
    /*border-right: 1px solid #06393b;*/
    font-weight: bold;
    font-size: 16px;
    display: table-cell;
    color: #ffffff;
    padding: 5px;
}
.header .tabs ul > li:hover {
    background: #f6f6f6;
}
.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
z-index: 1111111;
    flex-wrap:wrap;
    background-color: #fff;
}

.header .tabs a {
    padding: 10px;

    border-bottom: 4px solid transparent;
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    padding: 0 13px;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.header .tabs:not(.right) a[activeclassname="active"] {
    border-bottom: 4px solid #4db29c;
}

.header .logo {
    height: 100%;
    padding: 0 5px 0 5px;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 40px;
    color: #ffffff;
}

.header .tabs.right {
    /*float: right;*/
    margin-left: auto;
    border-right: none;
}
/*  ++++++++++++++++=================== end styles for Header ++++++++++++++++===================*/

/*span.title.topLevel .fa {*/
    /*margin-left: 5px;*/
/*}*/

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;
    text-align: center;
    min-height: 200px;
    background-color: #fff;
}
.mainBanner{
    background-color: #000000;
    background-image: url(./img/landing-banner-1600X350-v3.jpg);
    background-size: cover;
    text-align: center;
    height: 350px;
    background-position-x: center;
    font-size: 24px;
    padding-top: 90px;
}

.featureBanner.twoCol {
    padding-bottom: 0;
    overflow: hidden;
    border: none;
    padding: 40px 0 60px 0;

}

.featureBanner.twoCol .contentWrapper {
    width: 840px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.featureBanner.twoCol .column1 {
    float: left;
    text-align: left;
    width: 450px;
    padding: 0 40px 0 0;
    border-right: 1px solid #cacaca;
}

#content {
    border-bottom: 3px solid #ffab06;
    background-color: #e5f0e6;
    padding: 40px 10px;
    text-align: center;
}

.form2col, .form1col {
    overflow: hidden;
    border: none;
    padding: 40px 0 60px 0;
}

.form2col .column1 {
    text-align: left;
    /* width: 318px; */
    width: 50%;
    padding: 0 50px 0 0;
    border-right: 1px solid #cacaca;
}

.home3col {
    padding: 33px 15px 20px 15px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.home3col .column {
    max-width: 365px;
    padding: 20px;
    font-size: 17px;
    font-weight: 300;
}

/*  ++++++++++++++++=================== start styles for formWrapper ++++++++++++++++===================*/
.formError {
    color: red;
}

.ant-btn {
    background-color: #00b29c;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: none;
    padding: 10px 35px;
    margin-left: auto;
    display: flex;
}

.form2col .formWrapper {
    max-width: 940px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}

button.signUpButton {
    border: 1px solid #a26a00;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #f2b644;
    color: #333333;
    display: inline-block;
    /*font-weight: bold;*/
    background-color: #e39706;
    background-image: -webkit-linear-gradient(#e39706, #b17400);
    background-image: linear-gradient(#e39706, #b17400);
    text-decoration: none;
    text-shadow: 0 1px 0 #fda600;
    background-clip: padding-box;
    color: #342201;
    padding: 4px 13px;
    height: 45px;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0;
}

.sign {
    text-align: center;
    /*padding: 10px;*/
}

.small-text {
    color: #8fa9ce;
    font-size: 16px;
}

.form2col .formWrapper > div {
    display: table-cell;
}

.forgot {
    margin-top: 10px;
    text-align: center;
}

.formWrapper label {
    display: table-cell;
    padding-bottom: 10px;
    white-space: nowrap;
    padding-right: 5px;
}

.formWrapper input.userPassInput {
    display: table-cell;
    width: 190px;
}

.form2col .column2 {
    text-align: left;
    width: 50%;
    padding-left: 40px;
}

.form2col div.formHelp {
    display: block;
    width: 710px;
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
}

.aboveCaptcha select {
    width: 97%;
}

/*  ++++++++++++++++=================== end styles for formWrapper ++++++++++++++++===================*/

/*  ++++++++++++++++=================== start styles for  footer ++++++++++++++++===================*/
.footer {
    margin-top: 15px;
    padding: 25px 0;
    background: #212c3b;
}

.footer-container {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-container > div {
    /*width: 50%;*/
}

.footer .links .group h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.footer .links {
    display: flex;
    align-items: center;
}

.footer .links a {
    margin: 0 25px;
}

.footer .noWrap {

}

.footer .links .group {
}

.footer .meta .group {

}

.footer .meta img {

}

.footer-info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-info > div {
    /*width: 50%;*/
    margin-right: 30px;
}

.footer-info > div * {
    color: #ffffff;
    font-size: 14px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: block;
}

.footer-info > div > a {

}
/*  ++++++++++++++++=================== end styles for form wrapper ++++++++++++++++===================*/

.notfound {
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
}

.forgot {
    margin-top: 10px;
    text-align: center;
}

.colored-link{
    display: block;
    text-decoration: underline;
    color:#738aa8;
}

.featureBanner .formWrapper input{
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    padding: 12px;
}

.featureBanner .formWrapper input[type="checkbox"] {
    width: inherit;
}

.featureBanner .transparent-button{
    float: right;
}

/*1800*/

@media (max-width: 1800px) and (max-device-width: 1800px) {
    .side {
        flex-basis: 340px;
    }

    .notices {
        flex-basis: 380px;
    }
}

@media (max-width: 1680px) and (max-device-width: 1680px) {

    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        padding: 14px 2px;
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 1450px) and (max-device-width: 1450px) {
    .orders__item .ant-input-group-wrapper {
        flex-basis: 260px;
    }

    .main-content {
        width: 100%;
    }

    .notices {
        width: 100%;
        margin-left: auto;
        margin-top: 20px;
    }

    .rightSide {
        width: 70%;
        order: 1;
    }

    .side {
        width: 100%;
        order: 2;
        margin-left: auto;
    }
}

@media (max-width: 1200px) and (max-device-width: 1200px) {

    .orders__item .ant-input-group-wrapper {
        flex-basis: 100%;
        margin-top: 4px;
    }

}

@media (max-width: 1050px) and (max-device-width: 1050px) {
    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        padding: 14px 1px;
        font-size: 10px;
        text-align: center;
    }

}

@media (max-width: 992px) and (max-device-width: 992px) {
    .marketDepthColumns {
        width: 100%;
    }

    .marketDepthTables {
        flex-wrap: wrap;
    }

    .notices {
        flex-basis: 100%;
    }

    .side {
        flex-basis: 100%;
    }

    .ordersTables {
        flex-wrap: wrap;
    }

    .ordersBlock {
        width: 100%;
        margin-bottom: 40px;
    }

    .orders__item .ant-input-group-wrapper {
        flex-basis: 60%;
    }

    .ant-btn {
        padding: 14px 40px;
    }



    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        font-size: 14px;
    }
    .footer-container > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .meta{
        margin-top: 25px;
    }
}

@media (max-width: 768px) and (max-device-width: 768px) {

    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        font-size: 12px;
    }
    .h1 {
        font-size:30px;
    }

    .header {
        padding: 10px;
        text-align: left;
    }

    .header .tabs.right {
        margin-top: 10px;
    }

    .form2col .formWrapper > div {
        display: block;
    }

    .formHelp p {
        width: 100%;
        text-align: center;
        width: 350px;
        padding: 0 30px;
    }

    .form2col .column1 {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
    .form2col .column2 {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }


    .footer-container {
        width:100%
    }

    .footer .links  {
        display: flex;
        flex-direction: column;
        font-size: 40px;
    }

    .footer .links .group h3 {
        font-size: 25px;
    }

    .footer .meta .group {
        width: 100%;
    }

    .footer .meta {
        flex-direction: column;
        text-align: center;
    }

    .footer-info {
        display: flex;
        align-items: center;
        justify-content: center;

    }




}

@media (max-width: 500px) and (max-device-width: 500px) {

    .form2col .column1 {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .form2col .column2 {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }

    .footer-container {
        width:100%
    }

    .footer .links  {
        display: flex;
        flex-direction: column;
        font-size: 40px;
    }

    .footer .links .group h3 {
        font-size: 25px;
    }

    .footer .meta .group {
        width: 100%;
    }

    .footer .meta {
        flex-direction: column;
        text-align: center;
    }

    .footer-info {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

/************************added***********************/
.mainPageBtn{
    border-radius: unset;
    width: 25%;
    padding: 20px;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .mainPageBtn{
        width: 65%;
    }
}

.mainPageBtnBlock{
    margin-bottom: 30px;
}
.mainPageSearch{
    border-top: 2px dotted #797979;
    background-color: #eeeeee;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 150px;
}
.mainPageSearchH1{
    color: rgb(0, 0, 0);
    font-size: 4.0rem;
    margin-top: 40px !important;
    margin-bottom: 30px;
}
.mainPageSearchP{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
}
.mainSeachBlockTabs{
    margin-top: 100px;
    border: 1px solid  #d4d4d4;
}

.nav-tabs{
    background-color: #e8e8e8;
    font-size: 2.5rem;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .nav-tabs{
        font-size: 1.5rem;
    }
}
.tab-content{
    padding: 20px;
    text-align: center;
    background-color: #fff;

}
.nav-tabs > li > a {
   border-radius: unset;
    color: #666666;
}
.border-radius-unset{
    border-radius: unset;
}
.form-group-lg .form-control {
margin-left: 5px;
    border-radius:unset;
}
.navbar{
    padding: 20px 110px;
    background: #fff;
    border: unset;
    box-shadow: unset;
    margin-bottom: 0px;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .navbar{
        padding: unset;
    }
}
p:first-child {
     margin-top: unset !important;
}
.navbar-default .navbar-nav > li > a {
    line-height: 2px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-default .navbar-nav > li > a:hover{
    background: #f6f6f6;
}
.navbar-nav{
    margin-top: 20px;
    margin-right: 30px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 8px;
    margin-left: 20px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.mainBanerH1{
    font-size: 7rem;
    margin-bottom: 0px;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .mainBanerH1{
        font-size: 6rem;
    }
}

/************************added***********************/


/************************startteam***page***********************/
.simpleBaner{
    background-image: url(./img/greeting-page-banner2.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-top: 118px;
}
.createTeamFormBlock{
    background-color: #fff;
    color: #000;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.createTeamFormBlock p   {
    color: #333;
    font-size: 20px;
 }
.createTeamFormBlock h1   {
    color: #000;
    font-weight: bolder;
}
.control-label{
    color: #000;
}
.startteam-form{
    margin-top: 30px;
    width:50%;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .startteam-form{
        margin-top: 30px;
        width:100%;
    }
}
.startteam-form span{
    color: #333;
    font-size: 20px;
}
/************************startteam***page***********************/
/************************login***page***********************/
.loginPageForm{
    border: 1px solid #000;
    padding: 30px;
}
.loginFormBlock{
    padding-top: 240px;
    padding-left: 25% ;
    padding-right: 25%;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .loginFormBlock{
        padding-left: 15% ;
        padding-right: 15%;
    }
}
.formLabel{
    color: #000;
    font-size: 25px;
}
.width100{
    width: 100%;
}
.formInput{
margin-left: 0px;
}
.loginPageForm .form-group .form-control{
    margin-left: 0px;
}
/************************login***page***********************/
/************************project***page***********************/
.projectBlock{
    background-color: #cacbcd;
    background-image: url(./img/greeting-main.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 0;
}
.leftBlock{

    height: 200px;
    width: 292px;
    margin: 50px 0 0 40px;
}
.rightBlock{
    background-color: #fff;
    color: #555555;

    margin: 50px 0 0 0px;
    width: 720px;
    padding: 80px 50px 50px;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .rightBlock{
        width: unset;
       margin-top: 240px;
    }
}
.rightBlock h1 {
    font-size: 45px;
    marginBottom:30px;
}
.rightBlockP {
    font-size: 20px;
    margin-bottom: 80px;
}
.colHeader{
    font-size: 16px;
    font-weight: 600;
}
.col1{
    padding: 15px;
}
.col2{
    border-left: 1px solid #bebebe;
    padding: 15px;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .col2{
        border-left:unset;
    }
}
.col3{
    border-left: 1px solid #bebebe;
    padding: 15px;
}
@media (max-device-width: 768px) and (max-width: 768px){
    .col3{
        border-left:unset;
    }
}
.progressBar{
    background: #ca1e21;
    width: 100%;
    padding: 24px 24px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.progressText{
    color: #fff;
    position: relative;
    z-index: 1111;
}
.progressCust{
    background: linear-gradient(to bottom,#b41b1e 0,#9a1316 100%);
    height: 73px;
    position: relative;
    top: -73px;
}
.projGoals{
    background: #283233;
    color: #fff;
    position: relative;
    top: -68px;
}
.projGoal1{
    padding: 20px;
    border-bottom: 1px solid #353f40;
}
.projGoal2{
    padding: 20px;
    border-bottom: 1px solid #353f40;
}
.projGoal3{
    padding: 20px;
}
.cashStyle{
    font-size: 38px;
    line-height: 32px;
    color: #fff;
}
.shareText{
    color: #c9cccc;
    text-align: center;
    font-size: 18px;
}
.shareBlock{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.cashText{
    display: inline-block;
    margin-left: 30px;
    color: #c9cccc;
    font-size: 12px;
}
.projectDescription{
    background: #575757;
    padding: 50px;
}
.projectDescription h1{
     font-size: 3.5em;
     color: #fff;
    margin-bottom: 40px;
 }
.projectDescription h2{
    font-size: 2.5em;
    color: #fff;
}
.projectDescription p{
    margin-top: 50px;
    font-size: 1.5em;
    color: #fff;
}
/************************project***page***********************/
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #555555;
    margin-top: 0;
}
span, p, div {
    color: #555555;

}