body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span, p, div{
  color:#ffffff;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(254, 254, 254, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(254, 254, 254, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(254, 254, 254, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(254, 254, 254, 0.5);
}

div {
  display: block;
}

a {
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  color: #ffffff;
}

input, select, textarea {
  border: 1px solid #91abac;
  -webkit-box-shadow: inset 1px 1px 3px #d8e4e5;
  -moz-box-shadow: inset 1px 1px 3px #d8e4e5;
  box-shadow: inset 1px 1px 3px #d8e4e5;
  padding: 2px 4px;
  background-color: #ffffff;
}

body {
}


body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #ffffff;
  margin-top: 0;
}


body h5 {
  font-size: 30px;
  padding: 15px 20px;
  margin-bottom: 0px;
  font-weight: 200;
  color: #ffffff;
  display: block;
}

input {
  background-color: #0f1e34;
  border: none;
  border-radius: 0;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input{
  outline: none !important;
}